#!/bin/bash

BASE=$(readlink -f $(dirname $0)/)
SETENVSCRIPT=$BASE/00-set-env.sh
source $SETENVSCRIPT

start=$SECONDS

log ================================================
log "Create sudo command list for db2 instance user"
log ================================================

DB2VERSION={{.Spec.DB2.Required.DB2Version}}

# List generated using commands
# ls -l /opt/ibm/db2/$DB2VERSION/bin | grep root | awk '{print $9}' | xargs readlink -f | paste -sd ", " -
# ls -l /opt/ibm/db2/$DB2VERSION/instance | grep root | awk '{print $9}' | xargs readlink -f | paste -sd ", " -

homeHost=$(hostname)
cat << 'EOF' > /tmp/sudo-{{.Spec.DB2.Required.InstanceName}}
#!/bin/bash
{{.Spec.DB2.Required.InstanceName}} ALL=(ALL) NOPASSWD: /bin/systemctl start magneto, /bin/systemctl stop magneto, /bin/systemctl status magneto, \
/sbin/poweroff, /sbin/halt, /sbin/reboot, /usr/sbin/useradd, /usr/sbin/usermod, /usr/sbin/userdel, \
/usr/sbin/groupadd, /usr/sbin/groupdel, /usr/sbin/groupmod, \
/usr/bin/yum,/opt/ibm/db2/$DB2VERSION/instance/db2chkf,/opt/ibm/db2/$DB2VERSION/bin/db2ckupgrade, \
/opt/ibm/db2/$DB2VERSION/instance/db2clpid,/opt/ibm/db2/$DB2VERSION/bin/db2iauto, \
/opt/ibm/db2/$DB2VERSION/instance/db2icknm,/opt/ibm/db2/$DB2VERSION/instance/db2ickts, \
/opt/ibm/db2/$DB2VERSION/instance/db2icrt,/opt/ibm/db2/$DB2VERSION/instance/db2icrt_local,\
/opt/ibm/db2/$DB2VERSION/instance/db2idbm,/opt/ibm/db2/$DB2VERSION/instance/db2idefs, \
/opt/ibm/db2/$DB2VERSION/instance/db2idrop,/opt/ibm/db2/$DB2VERSION/instance/db2idrop_local,\
/opt/ibm/db2/$DB2VERSION/instance/db2iexec,/opt/ibm/db2/$DB2VERSION/instance/db2iinfo, \
/opt/ibm/db2/$DB2VERSION/bin/db2ilist,/opt/ibm/db2/$DB2VERSION/instance/db2imchk, \
/opt/ibm/db2/$DB2VERSION/instance/db2instcfg,/opt/ibm/db2/$DB2VERSION/instance/db2ipcld, \
/opt/ibm/db2/$DB2VERSION/instance/db2iset,/opt/ibm/db2/$DB2VERSION/instance/db2isrv, \
/opt/ibm/db2/$DB2VERSION/instance/db2iuadm,/opt/ibm/db2/$DB2VERSION/instance/db2iupdt, \
/opt/ibm/db2/$DB2VERSION/instance/db2iupdt_local,/opt/ibm/db2/$DB2VERSION/instance/db2iupgrade, \
/opt/ibm/db2/$DB2VERSION/instance/db2iupgrade_local,/opt/ibm/db2/$DB2VERSION/instance/db2iutil, \
/opt/ibm/db2/$DB2VERSION/instance/db2iver,/opt/ibm/db2/$DB2VERSION/instance/db2ssh, \
/opt/ibm/db2/$DB2VERSION/instance/db2uit,/opt/ibm/db2/$DB2VERSION/instance/disp_msg, \
/opt/ibm/db2/$DB2VERSION/instance/sdSharedFileList
EOF

for host in {{.Spec.Nodes.Required.NamesAsList}}
do
    log "Copy sudo list of commands to $host" 
    log ========================================================================     
    command="$SCP -p /tmp/sudo-{{.Spec.DB2.Required.InstanceName}} $host:/etc/sudoers.d/{{.Spec.DB2.Required.InstanceName}}"
    log Run command on $homeHost -- $command
    $command
done

log ========================================================================
end=$SECONDS
log $0 took $((end-start)) seconds to complete
log ========================================================================
exit $RC