#!/bin/bash

BASE=$(readlink -f $(dirname $0)/)
SETENVSCRIPT=$BASE/00-set-env.sh
source $SETENVSCRIPT
start=$SECONDS

{{$firstHost := getFirstHost .Spec.Nodes.Required.NamesAsList}}

log ========================================================================
log "Check NFS Server - if available"
log ========================================================================

command="crm resource locate nfsserver 2>&1"
for host in {{$firstHost}}
do
  log Run command on $host -- $command
  RESPONSE=$($SSH $host "$command")
  log $RESPONSE
  if [[ "$RESPONSE" =~ "NOT running" ]] ; then
     log "Error: NFS server is not running. Check crm resource status nfsserver"
  fi
  log ========================================================================   
done

end=$SECONDS
log $0 took $((end-start)) seconds to complete
log ========================================================================
exit $RC
